.login-container{
    display: flex;
    justify-content: center;

}
.login-form{
    display: flex;
    flex-direction: column;
}
.login-form input,button{
    font-size: 1.3em;
    /* Normal forn't size's 30%=1.3 em */
    margin-bottom: 10px;
    border: 2px solid lightgrey;
    padding-left: 15px;
    /* To move placeholder text from the border lne */

}
.login-form button{
    background-color: lightsalmon;
    font-weight: 700;
    color: white;
    border: 0;
    padding: 5px;
    /* made login box mota through this padding */
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    padding-right: 2%;
}
/* For Keeping user icon at right side */
nav{
    display: flex;
    justify-content: space-between;
}